{{>header}}
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Enter the name of the dish</label>
  <textarea class="form-control" id="dishSearch" rows="1"></textarea>
</div>
<button type="submit" class="btn">Search!</button>