{{>header}}
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Enter the category</label>
  <textarea class="form-control" id="categorySearch" rows="1"></textarea>
</div>
<button type="submit" class="btn">Search!</button>