<h3> All the dishes with category: {{searchTerm}}</h3>

<div class="row">
  {{#each rows}}
    <div class="col-md-6 col-lg-4">
      <div class="card" style="margin-bottom: 30px;">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">Price: {{this.price}}</p>
          <a href="/dishDetails?dishName={{this.name}}" type="button" class="btn btn-success btn-sm">Dish Details</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
