





<form class="row g-3" role="search" method="POST" action="/searchByOrigin">
    <div class="col-auto">
        <input type="text" readonly class="form-control-plaintext" value="Search By Origin">
    </div>
    <div class="col-auto">
        <input class="form-control" type="search" placeholder="origin name" name="search" aria-label="Search">
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-success mb-3" type="submit">Search</button>
    </div>
</form>



<form class="row g-3" role="search" method="POST" action="/searchByCategory">
    <div class="col-auto">
        <input type="text" readonly class="form-control-plaintext" value="Search By Category">
    </div>
    <div class="col-auto">
        <input class="form-control" type="search" placeholder="category name" name="search" aria-label="Search">
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-success mb-3" type="submit">Search</button>
    </div>
</form>




<form class="row g-3" role="search" method="POST" action="/searchByName">
    <div class="col-auto">
        <input type="text" readonly class="form-control-plaintext" value="Search By Dish's Name">
    </div>
    <div class="col-auto">
        <input class="form-control" type="search" placeholder="name of dish" name="search" aria-label="Search">
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-success mb-3" type="submit">Search</button>
    </div>
</form>